<!-- wp:template-part {"slug":"header-compact","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"article","className":"np-article","layout":{"type":"default"}} -->
	<article class="wp-block-group np-article">
		<!-- wp:group {"tagName":"header","className":"np-article__header","layout":{"type":"default"}} -->
		<header class="wp-block-group np-article__header">
			<!-- wp:post-title {"level":1,"className":"np-article__title"} /-->

			<!-- wp:group {"className":"np-article__byline","layout":{"type":"flex","flexWrap":"wrap"}} -->
			<div class="wp-block-group np-article__byline">
				<!-- wp:post-date {"format":"Y年n月j日"} /-->
			</div>
			<!-- /wp:group -->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-content {"className":"np-content","layout":{"type":"constrained"}} /-->

		<!-- wp:pattern {"slug":"paddysun-newsprint/comments"} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
