<!-- wp:template-part {"slug":"header-compact","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"article","className":"np-article","layout":{"type":"default"}} -->
	<article class="wp-block-group np-article">
		<!-- wp:pattern {"slug":"paddysun-newsprint/article-header"} /-->

		<!-- wp:post-content {"className":"np-content np-toc-float","layout":{"type":"constrained"}} /-->

		<!-- wp:pattern {"slug":"paddysun-newsprint/article-footer"} /-->

		<!-- wp:pattern {"slug":"paddysun-newsprint/comments"} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
